{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <H1 style="background-color: red;">FAKULTAS HUKUM</H1>
</center>

<p>
    <center>
        <img src="https://radarlampung.disway.id/upload/5376be219840dbbb93b579048be6cf0a.jpg" alt="Fakultas Hukum" width="400px">
    </center>
</p>

<p>
    Fakultas Hukum merupakan salah satu fakultas yang ada di Universitas Sultan Ageng Tirtayasa.
    Fakultas ini berdiri pada tahun 1981 dan baru memperoleh status terdaftar pada tahun 1994 berdasarkan SK Mendikbud No. 0597/0/1984.
    Pada tahun 2000, fakultas hukum memperoleh status Terakreditasi B. Dengan adanya SK Akreditasi ini maka Fakultas Hukum dapat menyelenggarakan proses pembelajaran secara mandiri. 
    Kemudian Pada tahun 2001 status Fakultas Hukum menjadi Fakultas Hukum dari Universitas Sultan Ageng Tirtayasa Banten dengan Status Negeri, berdasarkan Kepres No. 32/2001.
    Pada awalnya fakultas hukum berada di Jl. Raya Jakarta KM. 4 Pakupatan–Serang namun setelah adanya kampus E Sindangsari, fakultas hukum berpindah tempat di Kampus E Sindangsari.
    Fakultas hukum hanya mempunyai satu program studi yakni program studi Hukum.
</p>

{% endblock %}
 