{% extends 'base.html' %}
{% load static %}

{% block content %}

    <center>
        <H1 style="background-color: rgb(45, 218, 68);">FAKULTAS PERTANIAN</H1>
    </center>
    
    <p>
    <center>
        <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/750x500/photo/2021/06/21/1961231422.jpg" alt="Fakultas Pertanian" width="400px">
    </center>
    </p>

    <p> Fakultas Pertanian merupakan salah satu dari 7 fakultas yang ada di Universitas Sultan Ageng Tirtayasa. 
        Fakultas ini terletak di R45F+HV4, Sindangsari, Kec. Pabuaran, Kabupaten Serang, Banten 42163 lebih tepatnya di Kampus E Universitas Sultan Ageng Tirtayasa. 
        Pada awalnya fakultas pertanian ini hanya memiliki satu program studi yakni Program Studi Sosial Ekonomi Pertanian pada tahun 1984. 
        Seiring berjalan waktu dan adanya kebutuhan dari masyarakat juga terkait sarjana yang dapat bergerak di bidang pertanian, fakultas ini akhirnya membuka program studi baru yakni Program Studi Agronomi pada Tahun Akademik 2000/2001. 
        Kemudian pada tahun 2007 kedua program studi tersebut berganti nama yakni Program Studi Sosial Ekonomi Pertanian menjadi Program Studi Agribisnis dan Program Studi Agronomi menjadi Program Studi Agroekoteknologi. 
        Pada tahun 2008, Fakultas Pertanian membuka program studi baru yakni program studi Perikanan. 
        Kemudian pada tahun 2017 lalu pun, fakultas ini membuka satu program studi baru yakni program studi Teknologi Pangan.
        Sehingga dapat disimpulkan bahwa Fakultas Pertanian Universitas Sultan Ageng Tirtayasa memiliki 4 Program Studi yakni Agribisnis, Agroekoteknologi, Perikanan, dan Teknologi Pangan.  
    </p>

{% endblock %}   