{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <H1 style="background-color: orange;">FAKULTAS ILMU SOSIAL DAN ILMU POLITIK</H1>
</center>

<p>
    <center>
        <img src="https://lh3.googleusercontent.com/p/AF1QipMEIsXHKMvqR-AsO9gEHGOZrqYrCYT5IRVMlCin=s1600-w400" alt="Fakultas Ilmu Sosial dan Ilmu Politik" width="450px">
    </center>
</p>

<p>
    Pada tanggal 10 Juni 2003 dikeluarkan Surat Keputusan dari DIRJEN DIKTI DEPDIKNAS dengan nomor 1179/D/ T/2003 tentang izin operasional program studi Ilmu Administrasi Negara dan Ilmu Komunikasi. 
    Seiring dengan operasional program studi maka Fakultas Ilmu Sosial dan Ilmu Politik didirikan pada tahun akademik 2002/2003  yang mendapat legitimasi menjadi bagian dari Untirta dengan surat keputusan nomor 124/0/2004 sesuai dengan SOTK.
    Pada tanggal 1 Februari 2006 telah dikeluarkan SK No. 295/D/T/2006 tentang Perpanjangan izin penyelenggaraan Program studi  Ilmu Administrasi Negara dan Ilmu Komunikasi selama 4 tahun. 
    Fakultas Ilmu Sosial dan Ilmu Politik ini terletak di Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang Provinsi Banten.
    Fakultas ini memiliki 4 program studi yakni Administrasi Publik, Ilmu Komunikasi, dan Ilmu Pemerintahan.
</p>

{% endblock %}   